@{
    ViewBag.Title = "Master Setup";
    Layout = "~/Views/Shared/_Masterpage.cshtml";
    ViewBag.IsLoadKendo = true;
}

<link rel="stylesheet" type="text/css" href="~/css/select2.min.css?ID=@ViewBag.GUID">

<style>
    .tabs-container #tab2:checked ~ #content2,
    .tabs-container #tab1:checked ~ #content1 {
        display: block;
    }
</style>

<!--Wrapper Start -->
<div class="container-fluid pt-4 pb-4 ps-1 pe-1 bg-white rounded">

    <div class="logo text-center border-bottom">
        <h3 class="box-title mb-3">Master Setup</h3>
    </div>

    <div class="row tabs-container">
        <div class="col-lg-12 col-md-12 col-sm-12 tab-content">

            @if (ViewBag.RightsListObj.IsView)
            {
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1" class="tabs-label"><i>MT</i>Master Type</label>
                <input id="tab2" type="radio" name="tabs">
                <label for="tab2" class="tabs-label"><i>MTV</i>Master Type Value</label>
            }
            @Html.Hidden("RightsList", (object)ViewBag.RightsList)
            @Html.Hidden("MasterTypeList", (object)ViewBag.MasterTypeList)
            @Html.Hidden("MasterTypeValueList", (object)ViewBag.MasterTypeValueList)

            @* Master Type *@
            <section id="content1">
                <div class="row">
                    <div class="col-lg-12" style="font-size:0.75em" id="tablerecord">
                        <div class="w-100 text-right">
                            <div class="button-group">
                                <button type="button" class="btn btn-lg px-4 fs-4 font-weight-medium Theme-button" style="display: none" id="MTModalbutton" onclick="GetAddEditMTModal(0);">+ Add New Master Type</button>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel box box-info">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="grid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @* Master Type Value *@
            <section id="content2">
                <div class="row">
                    <div class="col-lg-12" style="font-size:0.75em" id="tablerecord">
                        <div class="w-100 text-right">
                            <button type="button" class="btn btn-lg px-4 fs-4 font-weight-medium Theme-button mb-2" style="display: none" id="MTVModalbutton" onclick="GetAddEditMTVModal(0);">+ Add New Master Type Value</button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel box box-info">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="grid1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>
<!--Wrapper End -->

<script src="~/js/GridFilter2.js?ID=@ViewBag.GUID"></script>
<script src="~/js/select2.js?ID=@ViewBag.GUID" type="text/javascript"></script>
<script src="~/js/custom-Validation.js?ID=@ViewBag.GUID"></script>

@section scripts {
    @* Intialization *@
    <script>
        var RightsList = JSON.parse($("#RightsList").val());
        var MasterTypeList = JSON.parse($("#MasterTypeList").val());
        var MasterTypeValueList = JSON.parse($("#MasterTypeValueList").val());

        KendoDateInitial();
        Select2Initial();
        SetPageRights();
        //Load Grids
        if (RightsList.IsView) {
            MTGridLoad();
            $("#tab1").change(function () {
                if ($(this).is(":checked")) {
                    if ($("#grid").data("kendoGrid")) {
                        return;
                    }
                    MTGridLoad();
                }
            });
            $("#tab2").change(function () {
                if ($(this).is(":checked")) {
                    if ($("#grid1").data("kendoGrid")) {
                        return;
                    }
                    MTVGridLoad();
                }
            });
        }

        function SetPageRights() {
            if (RightsList.IsAdd) {
                $('#MTModalbutton').show();
                $('#MTVModalbutton').show();
            } 
        }

        //MT Add Edit Model and Remove Confirmation Message
        function MTGridLoad() {
            var kendogridid = 'grid';
            var pagesize = 30;
            $("#PageLoader").show();
            $("#" + kendogridid).empty();
            var MTfieldstype = {
                rowno: { type: KendoFilterTypes.Number, srtype: SRVTypes.Int },
                MT_ID: { type: KendoFilterTypes.Number, srtype: SRVTypes.Int },
                MasterTypeName: { type: KendoFilterTypes.String, srtype: SRVTypes.String },
                Description: { type: KendoFilterTypes.String, srtype: SRVTypes.String },
                IsActive: { type: KendoFilterTypes.Boolean, srtype: SRVTypes.Boolean },
            }
            var _griddatasource = GetGridDataSourceAjaxCommon(kendogridid, pagesize, "/Security/GetFilterData_MT_List", true, true, true, MTfieldstype, false, false);
            $("#" + kendogridid).kendoGrid({
                dataSource: _griddatasource,
                responsive: false,
                pageable: {
                    alwaysVisible: true,
                    refresh: true,
                    pageSizes: [30, 50, 100, 500, 1000, 5000],
                    messages: {
                        display: "{0} - {1} of {2} items &nbsp;&nbsp;|&nbsp;&nbsp; Export:&nbsp;<img id='" + kendogridid + "_exportExcel' title='Click here to export to excel file' src='/icon/excel_icon.jpg' style='width:23px; height:23px; cursor:pointer' onclick='onClickExportExcel(this)' /> ",
                        empty: "No data found",
                    }
                },
                controllername: "Report", //custom fields for ExportToExcel function
                controllermethodname: "ExportInExcel_MTDetail", //custom fields for ExportToExcel function
                sortable: true,
                resizable: false,
                reorderable: false,
                noRecords: true,
                filterable: {
                    extra: true,
                    //operators: KendoOperatorListOfString,
                },
                customfixheader: false, //custom fields for onKendoDataBound function
                pageloaderid: "PageLoader", //custom fields for onKendoDataBound function
                dataBound: onKendoDataBound,
                dataBinding: function (e) {
                    $("#PageLoader").hide();
                },
                columns: [
                    {
                        field: "rowno",
                        title: "#",
                        width: 105,
                        filterable: false,
                        sortable: false,
                    },
                    {
                        field: "MT_ID",
                        title: "MT_ID",
                        width: 120,
                        filterable: { extra: false, operators: { string: { contains: "equals" } } },
                        sortable: false,
                    },
                    {
                        field: "MT_ID",
                        title: "Master Type Name",
                        width: 220,
                        template: function (dataItem) {
                            return dataItem.MasterTypeName;
                        },
                        filterable: { multi: true, extra: false, search: true, checkAll: false },
                        values: MasterTypeList,
                        originalfield: "MasterTypeName",
                    },
                    {
                        field: "Description",
                        title: "Description",
                        width: 240,
                        filterable: { extra: false, operators: { string: { contains: "contains" } } }
                    },
                    {
                        field: "IsActive",
                        title: "IsActive",
                        width: 120,
                        template: function (dataItem) {
                            if (RightsList.IsDelete) {
                                if (dataItem.IsActive) {
                                    return '<img src="../icon/tick.png" alt="Active" class="cursor-pointer" onclick="MT_Remove(this,' + dataItem.MT_ID + ',\'' + dataItem.USERNAME + '\',' + dataItem.IsActive + ');"/>';
                                } else {
                                    return '<img src="../icon/cross.png" alt="Inactive" class="cursor-pointer" onclick="MT_Remove(this,' + dataItem.MT_ID + ',\'' + dataItem.USERNAME + '\',' + dataItem.IsActive + ');"/>';
                                }
                            } else {
                                if (dataItem.IsActive) {
                                    return '<img src="../icon/tick.png" alt="Active" />';
                                } else {
                                    return '<img src="../icon/cross.png" alt="Inactive" />';
                                }
                            }
                        },
                        attributes: {
                            style: "text-align: center;"
                        }
                    },
                    {
                        title: "Action",
                        width: 100,
                        filterable: false,
                        template: function (dataItem) {
                            if (RightsList.IsEdit) {
                                var actionfield = '';
                                var edit = "Edit"
                                actionfield = '<a><i class="fa fa-edit Theme-icon fa-1x ms-1 cursor-pointer" onclick="GetAddEditMTModal(' + dataItem.MT_ID + ',\'' + edit + '\');"></i></a>';
                                return actionfield;
                            } else {
                                return '<i class="fa fa-ban Theme-icon fa-1x ms-1"></i>';
                            }
                        },
                    },
                ],
                detailInit: function (e) {
                    $("#PageLoader").hide();
                }
            });
        }
        function GetAddEditMTModal(MT_ID) {
            if ((MT_ID == 0 && RightsList.IsAdd == true) || (MT_ID > 0 && RightsList.IsEdit == true)) {
                GetAddEditModalAjaxCommon(MT_ID, "/Security/GetAddEditMTModal");
            } else {
                WarningMessage('No Rights', "You Don't Have Rights To Access.", true, "Ok");
                $("#PageLoader").hide();
                return;
            }
        }
        function AddOrEditMT() {
            var ObjJson = new Object();
            ObjJson.MT_ID = $("#modalMT_ID").val();
            ObjJson.MasterTypeName = $("#modalMasterTypeName").val();
            ObjJson.Description = $("#modalDescription").val();
            ObjJson.Active = $("#modalMTisActive").is(":checked");
            var JsonData = JSON.stringify(ObjJson);
            requiredFields = ['MasterTypeName'];
            if (!validateRequiredFields(ObjJson, requiredFields)) {
                return;
            }
            AddEditRemoveAjaxCommon(JsonData, "/Security/AddOrEdit_MT", null, false, 'grid');
        }
        function MT_Remove(this_, MT_ID, IsActive) {
            if (RightsList.IsDelete) {
                if ($(this_).attr("disabled") == "disabled") {
                    return;
                }
                $(this_).attr("disabled", "disabled");
                IsActiveEditCommon(MT_ID, "/Security/Remove_MT", null, MT_ID, IsActive, "Master Type ID", 'grid');
            } else {
                WarningMessage('No Rights', "You Don't Have Rights To Access.", true, "Ok");
                $("#PageLoader").hide();
                return;
            }
        }

        //MTV Add Edit Model and Remove Confirmation Message
        function MTVGridLoad() {
            var kendogridid = 'grid1';
            var pagesize = 30;
            $("#PageLoader").show();
            $("#" + kendogridid).empty();
            var MTVfieldstype = {
                rowno: { type: KendoFilterTypes.Number, srtype: SRVTypes.Int },
                MTV_ID: { type: KendoFilterTypes.Number, srtype: SRVTypes.Int },
                MT_ID: { type: KendoFilterTypes.Number, srtype: SRVTypes.Int },
                MTV_CODE: { type: KendoFilterTypes.String, srtype: SRVTypes.String },
                MasterType: { type: KendoFilterTypes.String, srtype: SRVTypes.String },
                MasterTypeValue: { type: KendoFilterTypes.String, srtype: SRVTypes.String },
                Sort_: { type: KendoFilterTypes.Number, srtype: SRVTypes.Int },
                Sub_MTV_ID: { type: KendoFilterTypes.Number, srtype: SRVTypes.Int },
                Sub_MTV_Name: { type: KendoFilterTypes.String, srtype: SRVTypes.String },
                IsActive: { type: KendoFilterTypes.Boolean, srtype: SRVTypes.Boolean },
            }
            var _griddatasource1 = GetGridDataSourceAjaxCommon(kendogridid, pagesize, "/Security/GetFilterData_MTV_List", true, true, true, MTVfieldstype, false, false);
            $("#" + kendogridid).kendoGrid({
                dataSource: _griddatasource1,
                responsive: false,
                pageable: {
                    alwaysVisible: true,
                    refresh: true,
                    pageSizes: [30, 50, 100, 500, 1000, 5000],
                    messages: {
                        display: "{0} - {1} of {2} items &nbsp;&nbsp;|&nbsp;&nbsp; Export:&nbsp;<img id='" + kendogridid + "_exportExcel' title='Click here to export to excel file' src='/icon/excel_icon.jpg' style='width:23px; height:23px; cursor:pointer' onclick='onClickExportExcel(this)' /> ",
                        empty: "No data found",
                    }
                },
                controllername: "Report", //custom fields for ExportToExcel function
                controllermethodname: "ExportInExcel_MTVDetail", //custom fields for ExportToExcel function
                sortable: true,
                resizable: false,
                reorderable: false,
                noRecords: true,
                filterable: {
                    extra: true,
                    //operators: KendoOperatorListOfString,
                },
                customfixheader: false, //custom fields for onKendoDataBound function
                pageloaderid: "PageLoader", //custom fields for onKendoDataBound function
                dataBound: onKendoDataBound,
                dataBinding: function (e) {
                    $("#PageLoader").hide();
                },
                columns: [
                    {
                        field: "rowno",
                        title: "#",
                        width: 105,
                        filterable: false,
                        sortable: false,
                    },
                    {
                        field: "MT_ID",
                        title: "MT ID",
                        width: 130,
                        filterable: { extra: false, operators: { string: { contains: "equals" } } }
                    },
                    {
                        field: "MT_ID",
                        title: "Master Type Name",
                        width: 200,
                        template: function (dataItem) {
                            return dataItem.MasterType;
                        },
                        sortable: false,
                        filterable: { multi: true, extra: false, search: true, checkAll: false },
                        values: MasterTypeList,
                        originalfield: "MasterType",
                    },
                    {
                        field: "MTV_ID",
                        title: "MTV ID",
                        width: 190,
                        filterable: { extra: false, operators: { string: { contains: "equals" } } }
                    }, {
                        field: "MTV_CODE",
                        title: "MTV Code",
                        width: 180,
                        filterable: { extra: false, operators: { string: { contains: "contains" } } }
                    },
                    {
                        field: "MTV_ID",
                        title: "Master Type Value Name",
                        width: 220,
                        template: function (dataItem) {
                            return dataItem.MasterTypeValue;
                        },
                        sortable: false,
                        filterable: { multi: true, extra: false, search: true, checkAll: false },
                        values: MasterTypeValueList,
                        originalfield: "MasterTypeValue",
                    },
                    {
                        field: "Sub_MTV_ID",
                        title: "Sub MTV ID",
                        width: 190,
                        filterable: { extra: false, operators: { string: { eq: "is equal to" } } }
                    },
                    {
                        field: "Sub_MTV_Name",
                        title: "Sub MTV Name",
                        width: 220,
                        filterable: { extra: false, operators: { string: { contains: "contains" } } }
                    },
                    {
                        field: "Sort_",
                        title: "Sort_",
                        width: 160,
                        filterable: { extra: false, operators: { string: { contains: "contains" } } }
                    },
                    {
                        field: "IsActive",
                        title: "IsActive",
                        width: 130,
                        template: function (dataItem) {
                            if (RightsList.IsEdit) {
                                if (dataItem.IsActive) {
                                    return '<img src="../icon/tick.png" alt="Active" onclick="MTV_Remove(this,' + dataItem.MTV_ID + ',' + dataItem.IsActive + ');"/>';
                                } else {
                                    return '<img src="../icon/cross.png" alt="Inactive" onclick="MTV_Remove(this,' + dataItem.MTV_ID + ',' + dataItem.IsActive + ');"/>';
                                }
                            }
                            else {
                                if (dataItem.IsActive) {
                                    return '<img src="../icon/tick.png"/>';
                                } else {
                                    return '<img src="../icon/cross.png"/>';
                                }
                            }
                        },
                        attributes: {
                            style: "text-align: center;"
                        }
                    },
                    {
                        title: "Action",
                        width: 105,
                        filterable: false,
                        template: function (dataItem) {
                            var actionfield = ''
                            if (RightsList.IsEdit) {
                                actionfield = '<a><i class="fa fa-edit Theme-icon fa-1x ms-1 cursor-pointer" onclick="GetAddEditMTVModal(' + dataItem.MTV_ID + ');"></i></a>';
                            }
                            return actionfield;
                        }
                    },
                ],
                detailInit: function (e) {
                    $("#PageLoader").hide();
                }
            });
        }
        function GetAddEditMTVModal(MTV_ID) {
            if ((MTV_ID == 0 && RightsList.IsAdd == true) || (MTV_ID > 0 && RightsList.IsEdit == true)) {
                GetAddEditModalAjaxCommon(MTV_ID, "/Security/GetAddEditMTVModal");
            } else {
                WarningMessage('No Rights', "You Don't Have Rights To Access.", true, "Ok");
                $("#PageLoader").hide();
                return;
            }
        }
        function AddOrEditMTV() {
            var ObjJson = new Object();
            ObjJson.MTV_ID = $("#modalMTV_ID").val();
            ObjJson.MT_ID = $("#modalSelectMasterTypeName option:selected").val();
            ObjJson.MTV_CODE = $("#modalMasterTypeValueCode").val();
            ObjJson.MasterTypeValueName = $("#modalMasterTypeValueName").val();
            ObjJson.Sub_MTV_ID = $("#modalsubmtvname").val() == "" ? 0 : parseInt($('#modalsubmtvname').val());
            ObjJson.Active = $("#modalMTVisActive").is(":checked");
            var JsonData = JSON.stringify(ObjJson);
            requiredFields = ['MasterTypeValueName'];
            if (!validateRequiredFields(ObjJson, requiredFields)) {
                return;
            }
            AddEditRemoveAjaxCommon(JsonData, "/Security/AddOrEdit_MTV", null, false, 'grid1');
        }
        function MTV_Remove(this_, MTV_ID, IsActive) {
            if (RightsList.IsDelete) {
                if ($(this_).attr("disabled") == "disabled") {
                    return;
                }
                $(this_).attr("disabled", "disabled");
                IsActiveEditCommon(MTV_ID, "/Security/Remove_MTV", null, MTV_ID, IsActive, "Master Type Value ID", 'grid1');
            } else {
                WarningMessage('No Rights', "You Don't Have Rights To Access.", true, "Ok");
                $("#PageLoader").hide();
                return;
            }
        }
        function MTVDynamicDropDown(data){
            $("#PageLoader").show();
            GetDropDownListCommonAjax(data, "/Security/DynamicMTVDropDown", "modalsubmtvname");
        }
       
        
        // KendoGrid Custom Functions
        function onCustomFilterValidate(id, IsRun, IsClearFilter) {
            var resultjson = { issuccess: false, customfilterjson: [] };
            resultjson = onCustomFilter(false, id);
            if (resultjson.issuccess) {
                var grid = $("#" + id).data("kendoGrid");
                if (grid == undefined && IsRun == false) {
                    return;
                }
                else if (IsRun == true && grid == undefined) {
                    if (id == "grid") {
                        MTGridLoad();
                        return;
                    }
                    else if (id == "grid1") {
                        MTVGridLoad();
                        return;
                    }
                }

                if (IsClearFilter == true) {
                    ResetGridFilter(id);
                    return;
                }
                else {
                    RefreshGridData(id);
                    return;
                }
            }
        }

        var lastcustomreportFilterObjectList = [];
        function onCustomFilter(IsGetLastSaved, id) {

            IsGetLastSaved = (IsGetLastSaved == undefined ? false : IsGetLastSaved);
            var customreportFilterObjectList = [];
            var resultjson = { issuccess: false, customfilterjson: customreportFilterObjectList };
            var reportFilterObject = { code: "", name: "", isFilterApplied: false, reportFilterObjectArry: [] };
            var filterobject = new Object();

            var specificreportFilterObjectList = [];
            var specificreportFilterObject = { code: "", name: "", isFilterApplied: false, reportFilterObjectArry: [] };
            var specificfilterobject = new Object();

            if (IsGetLastSaved) {
                if (lastcustomreportFilterObjectList.length > 0) {
                    for (var i = 0; i <= lastcustomreportFilterObjectList.length - 1; i++) {
                        if (lastcustomreportFilterObjectList[i].id == id) {
                            resultjson = { issuccess: true, customfilterjson: lastcustomreportFilterObjectList[i].customfilterjson };
                            return resultjson;
                        }
                    }
                }
            }

            if ($('#txtdate').val() != "" && $('#txtenddate').val() != "") {
                SetCustomFilterValue(customreportFilterObjectList, reportFilterObject, filterobject, "and", $('#txtdate').val(), KendoGridFilterType.isequalorgreather, KendoFilterTypes.Date, SRVTypes.Date, false, 0, "Created_On_Date", "Created_On_Date", false);
                SetCustomFilterValue(customreportFilterObjectList, reportFilterObject, filterobject, "and", $('#txtenddate').val(), KendoGridFilterType.isequalorless, KendoFilterTypes.Date, SRVTypes.Date, false, 0, "Created_On_Date", "Created_On_Date", true);

                onSpecificFilter(id, specificreportFilterObjectList, specificreportFilterObject, specificfilterobject, "and", $('#txtdate').val()
                    , KendoGridFilterType.isequalorgreather, KendoFilterTypes.Date, SRVTypes.Date, false, 0, "Created_On_Date", "Created_On_Date", false);
                onSpecificFilter(id, specificreportFilterObjectList, specificreportFilterObject, specificfilterobject, "and", $('#txtenddate').val()
                    , KendoGridFilterType.isequalorless, KendoFilterTypes.Date, SRVTypes.Date, false, 0, "Created_On_Date", "Created_On_Date", true);
            }

            if ($('#txtOrigHub').val() != "") {
                SetCustomFilterValue(customreportFilterObjectList, reportFilterObject, filterobject, "and", $('#txtOrigHub').val(), KendoGridFilterType.inlistfilter, KendoFilterTypes.String, SRVTypes.UpperString, false, 0, "OrigHub", "OrigHub", false);
            }

            if (specificreportFilterObjectList.length > 0) {
                for (var i = 0; i < specificreportFilterObjectList.length; i++) {
                    customreportFilterObjectList.push(specificreportFilterObjectList[i]);
                }
            }

            if (lastcustomreportFilterObjectList.length > 0) {
                for (var i = 0; i <= lastcustomreportFilterObjectList.length - 1; i++) {
                    if (lastcustomreportFilterObjectList[i].id == id) {
                        resultjson = { issuccess: true, customfilterjson: lastcustomreportFilterObjectList[i].customfilterjson };
                        break;
                    }
                }
            }

            var isexistscustomfilterjson = false;
            if (lastcustomreportFilterObjectList.length > 0) {
                for (var i = 0; i <= lastcustomreportFilterObjectList.length - 1; i++) {
                    if (lastcustomreportFilterObjectList[i].id == id) {
                        var lastcustomreportFilterObject = new Object();
                        lastcustomreportFilterObject.id = id;
                        lastcustomreportFilterObject.customfilterjson = customreportFilterObjectList;
                        lastcustomreportFilterObjectList[i] = lastcustomreportFilterObject;
                        isexistscustomfilterjson = true;
                        break;
                    }
                }
            }
            if (isexistscustomfilterjson == false) {
                var lastcustomreportFilterObject = new Object();
                lastcustomreportFilterObject.id = id;
                lastcustomreportFilterObject.customfilterjson = customreportFilterObjectList;
                lastcustomreportFilterObjectList.push(lastcustomreportFilterObject);
            }

            resultjson = { issuccess: true, customfilterjson: customreportFilterObjectList };

            return resultjson;
        }
        function onSpecificFilter(id, specificreportFilterObjectList, specificreportFilterObject, specificfilterobject, logic, value, filtertype, fieldtype, srvfieldtype, islist, listtype, code, name, isprevioussamecode, isgridfilter = false) {
            if (code == 'Created_On_Date') {
                var dateObject = new Date(value)
                dateObject.setDate(dateObject.getDate() + (isprevioussamecode == false ? -1 : 1));
                var newvalue = formatDateToDateTime(dateObject, false);
                SetCustomFilterValue(specificreportFilterObjectList, specificreportFilterObject, specificfilterobject, logic, newvalue, filtertype, fieldtype, srvfieldtype, islist, listtype, "UTC_Created_On_Date", "UTC_Created_On_Date", isprevioussamecode);
            }
            else if (code == 'Created_On_Date' && isgridfilter == true) {
                var dateObject = new Date(value)
                dateObject.setDate(dateObject.getDate() - 1);
                var newvalue = formatDateToDateTime(dateObject, false);
                SetCustomFilterValue(specificreportFilterObjectList, specificreportFilterObject, specificfilterobject, logic, newvalue, KendoGridFilterType.isequalorgreather, fieldtype, srvfieldtype, islist, listtype, "UTC_Created_On_Date", "UTC_Created_On_Date", isprevioussamecode);

                dateObject = new Date(value)
                dateObject.setDate(dateObject.getDate() + 1);
                newvalue = formatDateToDateTime(dateObject, false);
                SetCustomFilterValue(specificreportFilterObjectList, specificreportFilterObject, specificfilterobject, logic, newvalue, KendoGridFilterType.isequalorless, fieldtype, srvfieldtype, islist, listtype, "UTC_Created_On_Date", "UTC_Created_On_Date", true);
            }
        }
        function onReset() {
            $("#PageLoader").show();
            $('#txtdate').val($("#originalstartdate").val());
            $('#txtOrigHub').html($("#hublist").html());
            $('#txtClientID').html($("#clientlist").html())
            $("#PageLoader").hide();
            onCustomFilterValidate('grid', false, true)
        }
    </script>
}