@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    @{
        ViewBag.IsLoadKendo = (ViewBag.IsLoadKendo == null ? true : ViewBag.IsLoadKendo);
    }

    <link href="~/css/Theme_Style/Theme4.css?ID=@ViewBag.GUID" rel="stylesheet" />
    <link href="~/css/Theme_Style/Theme_Master.css?ID=@ViewBag.GUID" rel="stylesheet" />
    <link href="~/css/Custom.css?ID=@ViewBag.GUID" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/IconLogo.png" />
    <link href="~/css/Ample/style.min.css?ID=@ViewBag.GUID" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js?ID=@ViewBag.GUID"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js?ID=@ViewBag.GUID"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css?ID=@ViewBag.GUID" />

    <script src="~/js/signalr/signalr.min.js?ID=@ViewBag.GUID"></script>

    @if (ViewBag.IsLoadKendo)
    {
        <link href="~/css/Kendo/default-main.css?ID=@ViewBag.GUID" rel="stylesheet" />
        <script src="~/js/Kendo/jquery.min.js?ID=@ViewBag.GUID"></script>
        <script src="~/js/Kendo/kendo.all.min.js?ID=@ViewBag.GUID"></script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $(window).resize(function () {
                if (screen.width > 767) {
                    $("#sidebardiv").addClass("sidebar-collapse");
                    $("#sidebardiv").addClass("collapse");
                }
                else {
                    if ($("#sidebardiv").hasClass("sidebar-collapse") == true) {
                        $("#sidebardiv").removeClass("sidebar-collapse");
                    }
                    if ($("#sidebardiv").hasClass("collapse") == true) {
                        $("#sidebardiv").removeClass("collapse");
                    }
                    document.getElementById("masterpagewrapper").style.marginLeft = "0px";
                }
            });

            $(function () {
                setInterval(StayALive, 600000);
            });

            $(function () {
                if ($("#fixedheadervalue").val() == "HeaderFixed") {
                    $('#main-wrapper').attr("data-header-position", 'fixed');
                    $('#main-wrapper').attr("data-sidebar-position", 'fixed');
                    $("#headerrelative").hide();
                    $("#headerfixed").show();
                }
                else if ($("#fixedheadervalue").val() == "HeaderRelative") {
                    $('#main-wrapper').attr("data-header-position", 'relative');
                    $('#main-wrapper').attr("data-sidebar-position", 'relative');
                    $("#headerfixed").hide();
                    $("#headerrelative").show();
                }
            });
        });
        function StayALive() {
            $.ajax({
                type: "POST",
                url: "/Functions/StayALive",
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
        function UpdateFixedHeader() {
            var ID_ = $("#fixedheadervalue").val();
            $.ajax({
                type: "POST",
                url: "/Functions/UpdateFixedHeader",
                contentType: "application/json; charset=utf-8",
                data: '{ID: "' + ID_ + '"}',
                dataType: "text",
                success: function (response) {
                    if (response == "HeaderFixed") {
                        $('#main-wrapper').attr("data-header-position", 'fixed');
                        $('#main-wrapper').attr("data-sidebar-position", 'fixed');
                        $("#headerrelative").hide();
                        $("#headerfixed").show();
                    }
                    else if (response == "HeaderRelative") {
                        $('#main-wrapper').attr("data-header-position", 'relative');
                        $('#main-wrapper').attr("data-sidebar-position", 'relative');
                        $("#headerfixed").hide();
                        $("#headerrelative").show();
                    }
                    $("#fixedheadervalue").val(response);
                    $("#headerfixedlabel").text(response);
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }

        function UpdateDarkView() {
            var ID_ = $("#darkviewvalue").val();
            $.ajax({
                type: "POST",
                url: "/Functions/UpdateDarkView",
                contentType: "application/json; charset=utf-8",
                data: '{ID: "' + ID_ + '"}',
                dataType: "text",
                success: function (response) {
                    debugger
                    if (response == "Dark") {
                        $('body').attr("data-theme", 'dark');
                        $("#moonmode").hide();
                        $("#sunmode").show();
                    }
                    else if (response == "Light") {
                        $('body').attr("data-theme", 'light');
                        $("#sunmode").hide();
                        $("#moonmode").show();
                    }
                    $("#darkviewvalue").val(response)
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
        function showhide() {
            if (screen.width > 767 || (window.screen.availHeight - (window.outerHeight - window.innerHeight)) > 250) {
                if ($("#sidebardiv").hasClass("collapse") == true) {
                    $("#sidebardiv").removeClass("collapse")
                    $("#sidebardiv").addClass("expand")
                    document.getElementById("masterpagewrapper").style.marginLeft = "250px";
                }
                else if ($("#sidebardiv").hasClass("expand") == true) {
                    $("#sidebardiv").removeClass("expand")
                    $("#sidebardiv").addClass("collapse")
                    document.getElementById("masterpagewrapper").style.marginLeft = "0px";
                }
            }
        }

    </script>

    <!--Custom JavaScript -->
    <script src="~/js/Ample/feather.min.js?ID=@ViewBag.GUID"></script>
    <script src="~/js/Ample/custom.min.js?ID=@ViewBag.GUID"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css?ID=@ViewBag.GUID" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js?ID=@ViewBag.GUID"></script>

    <style>
        .k-grid-content {
            width: 100%;
            min-height: 0;
            overflow: auto;
            overflow-x: auto;
            overflow-y: auto !important;
            position: relative;
            flex: 1;
        }

        .k-grid-header {
            padding-right: 0px !important;
            width: 100% !important;
        }

        .k-grid-filter-menu.k-grid-header-menu {
            color: white;
        }

        /* thead.k-table-thead tr.k-table-row,
                                                                .sidebar-nav ul .sidebar-item.selected > .sidebar-link {
                                                                    background: #093028 !important;
                                                                    background: -webkit-linear-gradient(to right, #237A57, #093028) !important;
                                                                    background: linear-gradient(to right, #237A57, #093028) !important;
                                                                    color: white !important;
                                                                } */

        .k-button-flat-primary {
            color: black;
        }

        .grid-header a {
            color: white;
        }

        .minWidth {
            width: 300px;
        }

        .hidecolumn {
            display: none !important;
        }

        .k-column-title {
            color: #fff !important;
        }
    </style>

</head>

<body>
    <!--Wrapper Start -->
    <div id="main-wrapper" style="display:none">
        <!--Header Start -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header border-end Theme-Header" id="navbar-log">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" onclick="showhide();" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="~/Account/Home">
                        <b class="logo-icon">
                            <img src="~/img/iconlogo.png" style="width: 100%;height: 42px;" />
                        </b>
                        <span class="logo-text">
                            <img src="~/img/textlogo.png" style="width: 100%; display:none;" />
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse v-middle Theme-Header" id="navbarSupportedContent" data-navbarbg="a">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar" onclick="showhide();"><i class="mdi mdi-menu fs-5 expand-sidebar"></i></a></li>
                        <li class="nav-item d-none d-md-block pt-4" id="orderno_trackingno_label_header"></li>
                    </ul>

                    <ul id="changethemediv" class="pb-0 mb-0 d-flex" style="display:none">
                        <a id="sunmode" title="Light Mood" class=" ms-3" style="display:none">
                            <i class="fas fa-sun fa-lg" style="cursor: pointer; color: lightgoldenrodyellow" onclick="UpdateDarkView()"></i>
                        </a>
                        <a id="moonmode" title="Dark Mood" class=" ms-3" style="display:none">
                            <i class="fas fa-moon fa-lg" style="cursor: pointer; color: white" onclick="UpdateDarkView()"></i>
                        </a>
                        <div style="display:none">
                            <a id="headerrelative" title="NonFixed Header" class=" ms-3">
                                <i class="fas fa-window-maximize fa-lg Theme-icon icon-hover" style="cursor: pointer; color: white" onclick="UpdateFixedHeader()"></i>
                            </a>
                            <a id="headerfixed" title="Fixed Header" class=" ms-3" style="display:none">
                                <i class="far fa-window-maximize fa-lg Theme-icon icon-hover" style="cursor: pointer; color: white" onclick="UpdateFixedHeader()"></i>
                            </a>
                        </div>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item search-box" hidden="hidden"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" style="cursor:pointer" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/img/user.jpg" alt="user" class="rounded-circle" width="36">
                                <span class="ms-2 font-weight-medium">Ayesha Amir Memorial Hospital</span>
                                <span class="fas fa-angle-down ms-2"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end user-dd animated flipInY">
                                <div class="d-flex no-block align-items-center p-3 Theme-Header text-white mb-2">
                                    <div class="">
                                        <img src="~/img/user.jpg" alt="user" class="rounded-circle" width="60">
                                    </div>
                                    <div class="ms-2">
                                        <h4 class="mb-0 text-white">@ViewBag.UserName</h4>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Account/Logout">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out feather-sm text-danger me-1 ms-1">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                        <polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line>
                                    </svg>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Header End -->
        <!--Side Bar Start -->
        <aside class="left-sidebar Theme-Header" id="sidebardiv">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item active">
                            <a href="/PatientReport/Index" class="sidebar-link" style="white-space: pre-wrap; word-break: break-word;">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Patient Reports</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false" style="white-space: pre-wrap; word-break: break-word;">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">Ayesha Amir Memorial Hospital</span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="~/Account/Logout" class="sidebar-link" style="white-space: pre-wrap; word-break: break-word;">
                                        <i class="mdi mdi-adjust"></i>
                                        <span class="hide-menu">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <div class="devider"></div>
                    </ul>
                </nav>
            </div>
        </aside>
        <!--Side Bar End -->
        <!--Content Start -->
        <div class="page-wrapper" style="margin-left: 0px;" id="masterpagewrapper">
            <div class="container-fluid page-content" style="padding: 5px; background-color: white; color: black !important" id="mastercontainerdiv">
                <div class="auth-wrapper d-flex no-block justify-content-center">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Content End -->
    </div>
    <!--Wrapper End -->

    <div id="dynamic-modal1" class="modal" tabindex="0" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;z-index:1000"></div>
    <div id="dynamic-modal2" class="modal" tabindex="0" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;z-index:1001"></div>
    <div id="dynamic-modal3" class="modal" tabindex="0" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;z-index:1002"></div>
    <div id="dynamic-modal4" class="modal" tabindex="0" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;z-index:1003"></div>
    <div id="dynamic-modal5" class="modal" tabindex="0" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;z-index:1003">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header modal-colored-header Theme-Header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="resetmodalDynamic('dynamic-modal5');" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal-confirmation-div" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-confirmation-divLabel" role="dialog" aria-hidden="true" style="z-index:1004">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content" id="modal-confirmation">
                <div class="modal-header modal-colored-header Theme-Header">
                    <h4 class="modal-title" id="modal-confirmation-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="Confirmation('','',false,'','','No','Yes',true);" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-confirmation-message">
                </div>
                <div class="modal-footer border-top border-2">
                    <button type="button" id="modal-confirmation-no" class="btn btn-light-danger text-danger font-weight-medium" data-bs-dismiss="modal" onclick="Confirmation('','',false,'','','No','Yes',true);">No</button>
                    <button type="button" id="modal-confirmation-yes" class="btn Theme-button font-weight-medium" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-message-div" class="modal fade" tabindex="-1" aria-labelledby="modal-message-title" aria-hidden="true" style="z-index:10005">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content" id="modal-message">
                <div class="modal-header modal-colored-header bg-warning text-white">
                    <h4 class="modal-title text-red" id="modal-message-title"></h4>
                    <button type="button" class="btn-close" onclick="WarningMessage('','',false,'Ok');" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-warning-message">
                </div>
                <div class="modal-footer border-top border-2">
                    <button type="button" id="modal-message-ok" class="btn btn-light-danger text-danger font-weight-medium" onclick="WarningMessage('','',false,'Ok');" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-session-div" class="modal" tabindex="-1" aria-labelledby="modal-session-title" aria-hidden="true" style="z-index:10006">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content" id="modal-session">
                <div class="modal-header modal-colored-header bg-warning text-white">
                    <h4 class="modal-title text-red" id="modal-session-title">Session Expired Warning</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-warning-session">
                    <h5>Click on Ok button to verify session status again and reload page. If session is still expired, then page will redirect to Sign In page. After Sign In page will again redirect to this page.</h5>
                    <br>
                    <h5 id="loginopenpage_msg">or Click On Open Login Page to Login Page on another Tab. In this case this page will not be refreshed.</h5>
                </div>
                <div class="modal-footer border-top border-2">
                    <button type="button" id="modal-session-ok" class="btn btn-light-danger text-danger font-weight-medium" onclick="VerifySessionStatus(this);" data-bs-dismiss="modal">Ok</button>
                    <button type="button" id="modal-session-openpage" style="display:none" class="btn Theme-button font-weight-medium" onclick="OpenLoginPage(this);">Open Login Page</button>
                </div>
            </div>
        </div>
    </div>
    <div id="PageLoader" class="overlay1 border-bottom-1" style="display: none; margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(255, 255, 255); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; font-size: medium; top: 30%; left: 45%; color: White;">
            <img src="~/img/ajax-loader.gif" />
        </p>
    </div>
    <div class="modal fade" id="modal-confirmation-div" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-confirmation-divLabel" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content" id="modal-confirmation">
                <div class="modal-header modal-colored-header Theme-Header">
                    <h4 class="modal-title" id="modal-confirmation-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="Confirmation('','',false,'','','No','Yes');" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-confirmation-message">
                </div>
                <div class="modal-footer border-top border-2">
                    <button type="button" id="modal-confirmation-no" class="btn btn-light-danger text-danger font-weight-medium" data-bs-dismiss="modal" onclick="Confirmation('','',false,'','','No','Yes');">No</button>
                    <button type="button" id="modal-confirmation-yes" class="btn Theme-button font-weight-medium" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Sorting-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="modal-Sorting-title">Sorting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="SortingContainer">
                        <table class="table table-light Sort_List">
                            <thead class="thead-dark">
                                <tr>
                                    <td style="width: 5%;"></td>
                                    <td style="font-weight: bolder; width: 5%; text-align:center;">#</td>
                                    <td style="font-weight: bolder; width: 75%; text-align: center; ">Text</td>
                                    <td style="font-weight: bolder; width: 5%; text-align: center; ">Sort</td>
                                    <td style="font-weight: bolder; width: 15%; text-align: center; ">Input</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success btnSortSaveChanges" data-bs-dismiss="modal">Save Changes</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Scripts -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js?ID=@ViewBag.GUID"></script>
    <script src="~/js/Ample/app.min.js?ID=@ViewBag.GUID"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";
            $("#main-wrapper").AdminSettings({
                Theme: false, // this can be true or false ( true means dark and false means light ),
                Layout: 'vertical',
                LogoBg: 'a', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                NavbarBg: 'a', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarType: 'mini-sidebar', // You can change it full / mini-sidebar / iconbar / overlay
                SidebarColor: 'a', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarPosition: true, // it can be true / false ( true means Fixed and false means absolute )
                HeaderPosition: true, // it can be true / false ( true means Fixed and false means absolute )
                BoxedLayout: false, // it can be true / false ( true means Boxed and false means Fluid )
            });
        });
    </script>
    <script src="~/js/Ample/app-style-switcher.js?ID=@ViewBag.GUID"></script>
    <script src="~/js/Ample/perfect-scrollbar.jquery.min.js?ID=@ViewBag.GUID"></script>
    <script src="~/js/Ample/sparkline.js?ID=@ViewBag.GUID"></script>
    <script src="~/js/Ample/waves.js?ID=@ViewBag.GUID"></script>
    <script src="~/js/Ample/sidebarmenu.js?ID=@ViewBag.GUID"></script>
    <script>
        $("#main-wrapper").show();

        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-top-right',
            timeOut: 5000
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
